.hero{
    height:55vw;
    /* height:90vh; */
    background: linear-gradient(180deg, #fde1ff, #e1ffea22 70%);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.hero-left{
    line-height: 0.8;
}

.hero-left h3{
    color: #090909;
    font-size: 1.4vw;
    font-weight: 500;
    margin-bottom: 1.5vw;
}

.wave-icon > div{
    display: flex;
    align-items: center;
    gap: 1.5vw;
}

.wave-icon img{
    width: 6vw;
}

.hero-left p{
    color: #171717;
    font-size: 5.5vw;
    font-weight: 600;
}

.hero-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    width: 18vw;
    height: 4.5vw;
    border-radius: 3vw;
    margin-top: 2.3vw;
    background-color: #ff4141;
    color: white;
    font-size: 1.3vw;
    font-weight: 500;
}

.hero-btn img{
    width: 3.5vw;
}

.hero-right img{
    width: 40vw;
}

/* @media screen and (max-width: 767px) {
    .hero{
        height:65vh;
        background: linear-gradient(180deg, #fde1ff, #e1ffea22 70%);
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
}

@media screen and (max-width: 500px) {

    .hero{
        height:55vh;
        background: linear-gradient(180deg, #fde1ff, #e1ffea22 70%);
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}

@media screen and (max-width: 400px){

    .hero{
        height:45vh;
        background: linear-gradient(180deg, #fde1ff, #e1ffea22 70%);
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}

@media screen and (max-width: 330px){

    .hero{
        height: 35vh;
        background: linear-gradient(180deg, #fde1ff, #e1ffea22 70%);
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
} */