.category-banner{
    display: block;
    margin: 1.5vw auto 1vw auto;
    width: 82%;
}

.index-sort{
    display: flex;
    margin: 0 9vw;
    justify-content: space-between;
    align-items: center;
}

.sort{
    padding: 0.5vw 1.1vw;
    margin-right: 1vw;
    border-radius: 2vw;
    border: 1px solid #888;
    font-size: 1.3vw;
}

.index-sort p span{
    font-weight: 600;
}

.index-sort p{
    padding-top: 2vw;
    font-size: 1.5vw;
}

.products{
    margin: 1vw 9vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 3.5vw;
}